#sidebar {
    z-index: 1;
}

#burgerIcon {
    position: absolute;
    top:0.75cm;
    left:0.75cm;
    width:2cm;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    z-index: 6;
    transition: transform .2s;
}

#iconInteract {
    position: absolute;
    top:0.75cm;
    left:0.75cm;
    width:1.5cm;
    height:1.5cm;
    transform: translate(0.25cm,-0.35cm);
    border-radius: 10cm;
    z-index: 5;
    transition: background-color .2s, height .15s, width .15s, transform .15s;
}

#burgerIcon:hover  ~ #iconInteract {
    background-color: rgba(170,170,170,0.2);
}

#burgerIcon:active  ~ #iconInteract {
    background-color: rgba(170,170,170,0.35);
    width:2cm;
    height:2cm;
    transform: translate(0cm,-0.55cm);
}

#sidebar-sheet {
    position: absolute;
    z-index: 1;
    top:-55vh;
    left:0;
    height:160vh;
    width:25vw;
    background-color: #303045;
    transform:translateX(-65vw) rotateZ(35deg);
    transition:transform .5s;
}